        .h2 {
            background-color: brown;
            text-align: center;
            /* margin: 10px; */
        }
        
        .fieldset {
            width: 10cm;
            height: 8cm;
            margin-left: 300px;
            margin-top: 80px;
        }
        
        .firstline {
            margin-right: 40%;
        }
        
        #fs {
            margin-top: 2%;
        }
        
        .line1 {
            margin-top: 0%;
            display: flex;
            flex-wrap: wrap;
        }
        
        #fs1 {
            border-bottom: 2px solid black;
            width: 150px;
            height: 3px;
            margin-bottom: 1%;
        }
        
        .main1 {
            margin-left: 72px;
        }
        
        #summa1 {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0%;
        }
        
        .line2 {
            border-bottom: 2px solid black;
            width: 350px;
        }
        
        .line34 {
            border-bottom: 2px solid black;
            width: 80px;
            margin-bottom: 0%;
        }
        
        .line3 {
            display: flex;
            flex-wrap: wrap;
            /* margin-bottom: 0%; */
        }
        
        #line322 {
            margin-left: 50px;
        }
        
        #line323 {
            margin-left: 60px;
        }
        
        .line4 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0%;
            margin-bottom: 0%;
        }
        
        #line442 {
            margin-left: 101px;
        }
        
        #line443 {
            margin-left: 110px;
        }
        
        .line44 {
            margin-top: 0px;
        }
        
        .line5 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0%;
        }
        
        .line55 {
            margin-top: 0%;
            margin-bottom: 3%;
        }
        
        .line551 {
            margin-left: 10px;
            margin-top: 0%;
            margin-bottom: 0%;
        }
        
        #line552 {
            margin-left: 20px;
            margin-top: 0%;
            margin-bottom: 0%;
        }
        
        .line6 {
            margin-top: 0%;
            margin-bottom: 0%;
        }
        
        .man {
            font-weight: bold;
        }